

.logo{
  color: white;
  margin: 5px;
  font-size: 25px;
  
}

.searchbar{
  width: 300px;
}

.navbarrightcontentt{
  color: white;
  margin: 5px;
  font-size: 18px;
  
}
.navbarrightcontentt::before {
  content: '';
  display: block;
  height: 18px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 2px;
  background: rgba(0, 0, 0, .1);
}


.navbarrightcontentb{
  color: black;
  margin: 5px;
  font-size: 18px;
  
}


.navbarrightcontentb::before {
  content: '';
  display: block;
  height: 18px;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 2px;
  background: rgba(0, 0, 0, .1);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  grid-template-areas: "navbar navbar navbar navbar" "menu posts posts info" "menu posts posts info";
}

.navbar { 
  grid-area: navbar;  
  display: flex;
  align-items: center;
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-wrap: nowrap;
 }

 .navbarright{
  display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin: auto;
   flex-wrap: nowrap;
   color: #fff;
   
 }

 .navbarleft{
  display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin: auto;
   flex-wrap: nowrap;
   align-items: center;
   color: #fff;
   
 }

.menu { 
  grid-area: menu;
  position: relative;
  top: 30px;
}

.posts { 
  grid-area: posts;
  position: relative;
  top: 30px;
}

.info { 
  grid-area: info;
  position: relative;
  top: 30px;
 }

